 @{
    Layout = "LayoutAxios";
}
@model List<Pizza>




        <div class="row fs-1 fw-bolder">
            
            <p>MENU'</p>
        </div>


@*    <main>
        <div class="container-fluid my-3">
            <div class="row text-center ">
                <h4>Pizze:</h4>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row mx-5">
                @foreach (Pizza pizza in Model)
                    {
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card mb-5 border">
                            <img class="card-img-top img-fluid" src="@pizza.Immagine" alt="@pizza.Id">
                            <div class="card-body pb-0">
                                <h5 class="text-black text-center">@pizza.Nome</h5>
                            </div>
                            <div class="card-body pt-0 text-center">
                                <button class="btn btn-info py-1 m-2 btn-lg px-1">@pizza.Prezzo</button>
                                <a href="@Url.Action("Dettagli","Home",new{id=pizza.Id})"class="btn btn-outline-info py-1 m-2 btn-lg px-1">Descrizione</a>
                            </div>
                        </div>
                    </div>
                    }
            </div>
        </div>
        <div class="container-fluid text-center">
            <a href="@Url.Action("FormAddPizza","Home")" class="btn btn-warning fs-4 fw-bold">Aggiungi una Pizza!</a>
        </div>

   
    </main>*@



    @section Scripts {

        <script type="text/javascript">

            loadPizze();

            document.getElementById('input_search').addEventListener('keyup', searchPizza);


            function searchPizzas() {
                let stringaDiRicerca = document.getElementById('input_search').value;
                loadPizze(stringaDiRicerca);
            }
            function loadPizze(searchString) {

                axios.get('/api/Pizze', { params: { search: searchString }})
                
                
                .then((res) => {

                    console.log('risultato ok');
                    console.log(res);
                    
                    if (res.data.length > 0) {
                        document.getElementById('contenitore_pizze').classList.remove('d-none');
                        document.getElementById('contenitore_no_pizze').classList.add('d-none');

                        document.getElementById('contenitore_pizze').innerHTML = '';

                        res.data.forEach(pizza => {

                            console.log('pizza: ', pizza);

                            document.getElementById('contenitore_pizze').innerHTML +=
                                `
                                                        <div class="col-12 col-md-4 p-2">
                                                            <div class="card post h-100">
                                                            <a href="/Home/Details/${pizza.id}">
                                                                <img src="${pizza.immagine}" class="card-img-top" alt="...">
                                                                <div class="card-body">
                                                                    <h5 class="card-title">${pizza.nome}</h5>
                                                                    <p class="card-text">${pizza.descrizione}</p>
                                                                </div>
                                                            </a>
                                                            </div>
                                                        </div>
                                                        `;
                        });

                    } else {

                        document.getElementById('contenitore_no_pizze').classList.remove('d-none');
                        document.getElementById('contenitore_pizze').classList.add('d-none');


                    }

                    document.getElementById('spinner-loader').classList.add('d-none');
                }).catch((error) => {
                    console.log(error);
                });

            }

        </script>
    }
